@model ModelLibrary.Models.CalendarEventListModel

@{
    ViewBag.Title = "Events";
}

@{
    Layout = "~/Views/Shared/_EventCalendarLayout.cshtml";
}

@section Navigation {
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Projects", "Projects", "Projects")
    @Html.ActionLink("Events", "Index", "EventCalendar", new { @class = "active" })
    @Html.ActionLink("Contact", "Contact", "Home")
    <div id="searchEventsBar">
        @using (Html.BeginForm("SearchResults", "EventCalendar", FormMethod.Get, new { id = "searchEventsForm" }))
        {
            @Html.TextBox("searchQuery", null, new { placeholder = "Search all events", id = "searchEventsBarBox" })
            <input type="submit" value="Search" id="searchEventsBtn" />
        }
    </div>
}
