@model pay_back_time.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "CHANGE PASSWORD";
}

<nav class='navbar-fixed-top-after'>
    <a href="javascript:void(0)" id='close-menu' class="closebtn">&times;</a>
    <img class='nav-icon' src='~/Content/Images/nclogo.png' id='nc-icon' />
    @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "active" })
    @Html.ActionLink("PROJECTS", "Projects", "Home")
    @Html.ActionLink("EVENTS", "Events", "Home")
    @Html.ActionLink("CONTACT", "Contact", "Home")
    @Html.ActionLink("APPLY", "Apply", "Apply")
    @Html.Partial("_LoginPartial")

</nav>
<div class="navbar-side">
    <span id="hamburger" onclick="">&#9776;</span>
    <img class="nav-icon-side" src='~/Content/Images/nclogo.png' id='nc-icon-side' />
</div>

<div class="section account-message">
    <h2 class="account-message-title font-bold">@ViewBag.Title</h2>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class="account-form-label account-message">Current Password</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control email-box font-light" })
        </div>
    </div>
    <div class="form-group">
        <label class="account-form-label account-message">New Password</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control email-box font-light" })
        </div>
    </div>
    <div class="form-group">
        <label class="account-form-label account-message">Confirm New Password</label>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control email-box font-light" })
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="SUBMIT" class="nc-btn font-light" />
            </div>
        </div>


}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}