@model pay_back_time.Models.IndexViewModel
@{
    ViewBag.Title = "MANAGE ACCOUNT";
}

<nav class='navbar-fixed-top-after'>
    <a href="javascript:void(0)" id='close-menu' class="closebtn">&times;</a>
    <img class='nav-icon' src='~/Content/Images/nclogo.png' id='nc-icon' />
    @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "active" })
    @Html.ActionLink("PROJECTS", "Projects", "Home")
    @Html.ActionLink("EVENTS", "Events", "Home")
    @Html.ActionLink("CONTACT", "Contact", "Home")
    @Html.ActionLink("APPLY", "Apply", "Apply")
    @Html.Partial("_LoginPartial")

</nav>
<div class="navbar-side">
    <span id="hamburger" onclick="">&#9776;</span>
    <img class="nav-icon-side" src='~/Content/Images/nclogo.png' id='nc-icon-side' />
</div>

<div class="account-img manage-page"><img src="~/Content/Images/nclogo.png" /></div>

<h2 class="account-message font-bold">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="account-message">
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change Your Password", "ChangePassword", null, new { @class = "nc-btn font-bold" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
</div>
