@model pay_back_time.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "RESET PASSWORD";
}

<nav class='navbar-fixed-top-after'>
    <a href="javascript:void(0)" id='close-menu' class="closebtn">&times;</a>
    <img class='nav-icon' src='~/Content/Images/nclogo.png' id='nc-icon' />
    @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "active" })
    @Html.ActionLink("PROJECTS", "Projects", "Home")
    @Html.ActionLink("EVENTS", "Events", "Home")
    @Html.ActionLink("CONTACT", "Contact", "Home")
    @Html.ActionLink("APPLY", "Apply", "Apply")
    @Html.Partial("_LoginPartial")

</nav>
<div class="navbar-side">
    <span id="hamburger" onclick="">&#9776;</span>
    <img class="nav-icon-side" src='~/Content/Images/nclogo.png' id='nc-icon-side' />
</div>
<div class="account-message-form">


    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2 class="account-message-title font-bold">@ViewBag.Title</h2>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            <label class="account-form-label account-message">Email</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control email-box" })
            </div>
        </div>
        <div class="form-group">
            <label class="account-form-label account-message">Password</label>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control email-box" })
            </div>
        </div>
        <div class="form-group">
            <label class="account-form-label account-message">Confirm Password</label>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control email-box" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="nc-btn font-light" value="RESET" />
            </div>
        </div>
    }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
