@{
    ViewBag.Title = "Confirm Account";
}

<nav class='navbar-fixed-top-after'>
    <a href="javascript:void(0)" id='close-menu' class="closebtn">&times;</a>
    <img class='nav-icon' src='~/Content/Images/nclogo.png' id='nc-icon' />
    @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "active" })
    @Html.ActionLink("PROJECTS", "Projects", "Home")
    @Html.ActionLink("EVENTS", "Events", "Home")
    @Html.ActionLink("CONTACT", "Contact", "Home")
    @Html.ActionLink("APPLY", "Apply", "Apply")
    @Html.Partial("_LoginPartial")

</nav>
<div class="navbar-side">
    <span id="hamburger" onclick="">&#9776;</span>
    <img class="nav-icon-side" src='~/Content/Images/nclogo.png' id='nc-icon-side' />
</div>
<h2 class="account-message-title">@ViewBag.Title</h2>
<h3 class="account-message">@ViewBag.Message</h3>
<div class="account-img"><img src="~/Content/Images/nclogo.png" /></div>