@model ModelLibrary.models.ApplicationListModel

@{
    ViewBag.Title = "Applications";
}

<nav class='navbar-fixed-top-after'>
    <a href="javascript:void(0)" id='close-menu' class="closebtn">&times;</a>
    <a target="_blank" href="https://www.neumont.edu" id="icon-link"><img class='nav-icon' src='~/Content/Images/nclogo.png' id='nc-icon' /></a>
    @Html.ActionLink("HOME", "Index", "Home")
    @Html.ActionLink("PROJECTS", "Projects", "Home")
    @Html.ActionLink("EVENTS", "Events", "Home")
    @Html.ActionLink("CONTACT", "Contact", "Home")
    @Html.ActionLink("APPLY", "Apply", "Apply", null, new { @class = "active" })
</nav>
<div class="navbar-side">
    <span id="hamburger" onclick="">&#9776;</span>
    <img class="nav-icon-side" src='~/Content/Images/nclogo.png' id='nc-icon-side' />
</div>
<div class="section app-bg">

    <div class="row">
        <div class='col-l-4'>
            <div class='app-control-box'>

                @if (ViewBag.section == "new")
                {
                    <p class="app-control app-control-active">@Html.ActionLink("New", "Applications")</p>
                }
                else
                {
                    <p class="app-control">@Html.ActionLink("New", "Applications")</p>
                }
                @if (ViewBag.section == "review")
                {
                    <p class="app-control app-control-active">@Html.ActionLink("Reviewed", "ReviewedApplications")</p>
                }
                else
                {
                    <p class="app-control">@Html.ActionLink("Reviewed", "ReviewedApplications")</p>
                }
                @if (ViewBag.section == "save")
                {
                    <p class="app-control app-control-active">@Html.ActionLink("Saved", "SavedApplications")</p>
                }
                else
                {
                    <p class="app-control">@Html.ActionLink("Saved", "SavedApplications")</p>
                }
                @if (ViewBag.section == "archive")
                {
                    <p class="app-control app-control-active">@Html.ActionLink("Archived", "ArchivedApplications")</p>
                }
                else
                {
                    <p class="app-control">@Html.ActionLink("Archived", "ArchivedApplications")</p>
                }
            </div>
        </div>

        <div class='col-l-8 section-content'>

            <h1 class='uppercase font-bold nc-yellow align-center'>APPLICATIONS</h1>
            @if (Model.Applications.Count() > 0)
            {
                foreach (var application in Model.Applications)
                {
                    <div class="row theme-steelgray event-container">
                        <div class="col-xxl-7">
                            <h2 class='font-bold nc-yellow app-name'>@application.Name</h2>
                            <h3 class='app-name'>Project: @application.ProjectTitle.</h3>
                        </div>
                        <div class="col-xxl-5">
                            <div class='nc-btn uppercase view-app' id="viewApp-btn" onclick="viewApp(this, @application.ApplicationID)">VIEW APPLICATION</div>
                            @*<input type="button" value="Create" onclick="location.href='@Url.Action("Modal", "Apply")'" />*@



                        </div>
                    </div>

                    <div id="application-@application.ApplicationID" class="modal application-modal">
                        <div class="modal-container">
                            <div class="modal-header">
                                <span class="close" onclick="closeModal()">&times;</span>
                                <h2>
                                    @if (application.Saved)
                                    {
                                        <i class="fa fa-save app-icon app-icon-enabled" onclick="applicationSaved(this, @application.ApplicationID)"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-save app-icon" onclick="applicationSaved(this, @application.ApplicationID)"></i>
                                    }
                                    @if (application.Archived)
                                    {
                                        <i class="fa fa-archive app-icon app-icon-enabled" onclick="applicationArchived(this, @application.ApplicationID)"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-archive app-icon" onclick="applicationArchived(this, @application.ApplicationID)"></i>
                                    }
                                    @if (ViewBag.section == "archive")
                                    {
                                        <i class="fa fa-trash-o app-icon" onclick="applicationDeleted(this, @application.ApplicationID)"></i>
                                    }
                                    
                                </h2>
                            </div>
                            <div class="modal-body">
                                <div class="application-body">
                                    <div class="form-long">
                                        <p id="label">
                                            <b>Name:</b>
                                        </p>
                                        <p id="application-name">@application.Name</p>

                                    </div>
                                    <div class="form-long">
                                        <p id="label">
                                            <b>Email:</b>
                                        </p>
                                        <p id="application-email">@application.Email</p>

                                    </div>
                                    <div class="form-long">
                                        <p id="label">
                                            <b>Project Title:</b>
                                        </p>
                                        <p id="application-title">@application.ProjectTitle</p>
                                    </div>
                                    <br>
                                    <div class="form-column">
                                        <p>
                                            <b>Project Description:</b>
                                        </p>
                                        <p id="application-desc">@application.Description</p>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="form-column">
                                        <p>
                                            <b>Intended Audience:</b>
                                        </p>
                                        <p id="application-audience">@application.Audience</p>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="form-column">
                                        <p>
                                            <b>Roadblocks:</b>
                                        </p>
                                        <p id="application-diff">@application.Roadblocks</p>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="form-column">
                                        <p>
                                            <b>High Level Requirements:</b>
                                        </p>
                                        <p id="application-reqs">@application.Requirements</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



         
                }

            }
            else
            {
                <h3 class="white align-center">@ViewBag.noResults</h3>
            }
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/application-controller.js")
